<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are a Secret Santa!</h1>
    <p>
      You need to give a gift to: <h3><%= @person.giving_to.name %></h3>
      <p>Remember, there's a $30 spending limit!</p>
    </p>
    <% unless @person.giving_to.wishlist.blank? %>
    	<p>
    		Their wishlist is: <%= @person.giving_to.wishlist %>
    	</p>
    <% else %>
    	<p>
    		The person did not supply a wishlist.
    	</p>
    <% end %>
    Merry Christmas!<br/>
    James and Chris<br/><br/>
    http://butcher-xmas.herokuapp.com
  </body>
</html>