<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color: green;">You are a Secret Santa!</h1>
    <p>
      You have been randomly assigned to give a gift to: <h3 style="color: blue;"><%= @person.giving_to.name %></h3>

    <pre style="color: red;">
                                  _
                               .-(_)
                              / _/
                           .-'   \
                          /       '.
                        ,-~--~-~-~-~-,
                       {__.._...__..._}             ,888,
       ,888,          /\##"  6  6  "##/\          ,88' `88,
     ,88' '88,__     |(\`    (__)    `/)|     __,88'     `88
    ,88'   .8(_ \_____\_    '----'    _/_____/ _)8.       8'
    88    (___)\ \      '-.__    __.-'      / /(___)
    88    (___)88 |          '--'          | 88(___)
    8'      (__)88,___/                \___,88(__)
              __`88,_/__________________\_,88`__
             /    `88,       |88|       ,88'    \
            /        `88,    |88|    ,88'        \
           /____________`88,_\88/_,88`____________\
          /88888888888888888;8888;88888888888888888\
         /^^^^^^^^^^^^^^^^^^`/88\\^^^^^^^^^^^^^^^^^^\
        /                    |88| \===============,  \
       /_  __  __  __   _ __ |88|_|^  to:         | __\
       |;:.                  |88| |  <%= @person.giving_to.name.upcase %> <3
       |;;:.                 |88| '==============='   |
       |;;:.                 |88|                     |
       |::.                  |88|                     |
       |;;:'                 |88|                     |
       |:;,                  |88|                     |
       '---------------------""""---------------------'
    </pre>

      <p>Remember, there's a $30 spending limit!</p>
    </p>
    <% unless @person.giving_to.wishlist.blank? %>
      <p>
        Their wishlist is: <span style="color: green;"><b><%= @person.giving_to.wishlist %></b></span>
      </p>
    <% else %>
      <p>
        The person did not supply a wishlist.
      </p>
    <% end %>

    <pre style="color: orange;">
                                                 zr
                                              Yt$$$.
                                           .,e$$$$$F'
                         4e r               $$$$$$$.
                         d$$br            _z$$$$$$$F`
                          ?$$b._          ^?$$$$$$$
                           4$$$"     -eec.  ""JP" ..eee$%..
                           -**N #c   -^***.eE  ^z$P$$$$$$$$$r-
                  .ze$$$$$eu?$eu '$$$$b $=^*$$ .$$$$$$$$$$"
               --."?$$$$$$$$$c"$$c .""" e$K  =""*?$$$P""""
   ueee. `:`  $E !!h ?$$$$$$$$b R$N'~!! *$$F J"""C.  `
  J  `"$$eu`!h !!!`4!!<?$$$$$$$P ?".eee-z.ee" ~$$e.br
  'j$$Ne`?$$c`4!~`-e-:!:`$$$$$$$ $$**"z $^R$P  3 "$$$bJ
   4$$$F".`?$$c`!! \).!!!`?$$$$F.$$$# $u$% ee*"^ :4`"$"?$q
    ""`,!!!:`$$N.4!!~~.~~4 ?$$F'$$F.@.* -L.e@$$$$ec.      "
    "Rr`!!!!h ?$$c`h: `# !! $F,r4$L***  e$$$$$$$$$$$$hc
      #e'4!!!!L`$$b'!.:!h`~~ .$F'"    d$$$$$$$$$$$$$$$$$h,
       ^$.`!!!!h $$b`!. -    $P /'   .$$$$$$$$$$$$$$$$$$$$$c
         "$c`!!!h`$$.4~      $$$r'   <$$$$$$$$$$$$$$$$$$$P"""
           ^te.`~ $$b        `Fue-   `$$$$$$$$$$$$$$P".:  !! "<
              ^"=4$P"     .,,,. -^.   ?$$$$$$$$$$"?:. !! :!!~ ,,ec..
                    ..z$$$$$$$$$h,    `$$$$$$P"..`!f :!f ~)Lze$$$P""""?i
                  ud$$$$$$$$$$$$$$h    `?$$F <!!'<!>:~)ue$$P*"..:!!!!! J
                .K$$$$$$$$$$$$$$$$$,     P.>e'!f !~ ed$$P".:!!!!!!!!`.d"
               z$$$$$$$$$$$$$$$$$$$$      4!!~\e$$$P`:!!!!!!!!!!'.eP'
              -*". . "??$$$$$$$$$$$$       ~ `z$$$F".`!!!!!!!!!!',dP"
            ." ):!!h i`!- ("?$$$$$$f        ,$$P":! ). `'!!!!`,d$F'
       .ueeeu.J`-^.!h <-  ~`.. ??$$'       ,$$ :!!`e$$$$e `,e$F'
    e$$$$$$$$$$$$$eeiC ")?:-<:%':^?        ?$f !!! ?$$$$",F"
   P"....```""?$$$$$$$$$euL^.!..` .         "Tu._.,``""
   $ !!!!!!!!!!::.""??$$$$$$eJ~^=.            ````
   ?$.`!!!!!!!!!!!!!!:."??$$$$$c'.
    "?b.`!!!!!!!!!!!!!!!!>."?$$$$c               MERRY CHRISTMAS
      ^?$c`'!!!!!!!!!!!',eeb, "$$$k                  Chris 
         "?$e.`'!!!!!!! $$$$$ ;.?$$
            "?$ee,``''!."?$P`i!! 3P      http://butcher-xmas.herokuapp.com
                ""??$bec,,.,ceeeP"
                       `""""""
    </pre>
  </body>
</html>
