<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are a Secret Santa!</h1>
    <p>
      You need to give a gift to <%= @person.receiving_from.name %>
    </p>
  </body>
</html>